* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    font-size: 14px;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#react {
    height: 100%;
}

.react-hr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.global-spin{
    width: 100%;
    margin: 40px 0 !important;
}
