* {
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    margin: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

ul, li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#react {
    height: 100%;
}

.react-hr {
    height: 1px;
    margin: 0;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.react-login-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -40px;
}

.react-login {
    width: auto;
    padding: 16px 24px 24px;
    margin: 0 24px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.react-login-avatar {
    margin: 8px;
    background-color: rgb(225, 0, 80) !important;
}

.react-login h1 {
    color: #096dd9;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.35417em;
    margin: 15px auto 30px;
    display: block;
    text-align: center;
}

.react-login-form {
    max-width: 300px;
}

.react-login-form-forgot {
    float: right;
}

.react-login-form-button {
    width: 100%;
}

.react-home {
    height: 100%;
    width: 100%;
    display: flex;
}

.react-home-header {
    position: absolute;
    z-index: 2001;
    right: 0;
    top: 0;
    left: auto;
    color: #fff;
    background-color: #2196f3;
    width: calc(100% - 240px);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.react-home-header-container {
    padding: 0 24px 0 16px;
    display: flex;
    align-items: center;
    min-height: 64px;
}

.react-home-header-container h2 {
    font-size: 20px;
    font-weight: 500;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.react-home-header-menu-btn {
    margin-right: 10px !important;
}

.react-home-drawer {
    position: relative;
    transition: all 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    white-space: nowrap;
    background: #ffffff;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.react-home-drawer-topIcon {
    display: flex;
    padding: 0 8px;
    min-height: 64px;
    align-items: center;
    justify-content: flex-end;
}

.react-home-main {
    overflow: auto;
    padding: 56px 24px 24px;
    flex-grow: 1;
}

@media (min-width: 448px) {
    .react-login {
        width: 400px;
        margin: 0px;
    }
}
